# Database
DATABASE_URL="postgresql://user:password@database:5432/kinshop?schema=public"

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
ACCESS_TOKEN_SECRET=your_access_secret_key_change_me
REFRESH_TOKEN_SECRET=your_refresh_secret_key_change_me

# Application
NODE_ENV=production
PORT=3000

# Google Cloud Storage (Optional)
GCP_PROJECT_ID=your-project-id
GCP_CLIENT_EMAIL=your-service-account-email
GCP_PRIVATE_KEY="your-private-key-here"
GCP_BUCKET_NAME=your-bucket-name
