# Database
DATABASE_URL="postgresql://postgres:0912644361Tin@localhost/kinshop?host=/cloudsql/kinshop-489719:asia-southeast1:kinshop-db-instance"

# REDIS
REDIS_HOST=10.132.31.43
REDIS_PORT=6379

# JWT
ACCESS_TOKEN_SECRET=your_access_secret_key_change_me
REFRESH_TOKEN_SECRET=your_refresh_secret_key_change_me

# Application
NODE_ENV="development"
PORT=3000

# Google Cloud Storage
GCP_PROJECT_ID="kinshop-489719"
GCP_BUCKET_NAME="kinshop-bucket"

# Front End
FRONTEND_URL='http://localhost:3000'
